<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Base</title>
    <link rel="stylesheet" href="/css/kb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <section id="hero" class="hero">
        <div class="hero__container bd-grid">
            <div class="hero-content ">
                <h1 class="hero-content-title">Our Knowledge Hub</h1>
                <p class="hero-content-info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quibusdam! Nam optio nihil animi expedita praesentium ducimus atque fugiat aperiam earum!
                </p>
                <a class="button" href="#">Start Exploring</a>
                </div>
                <div class="hero-img">
                    <img class="hero__img" src="/assets/images/kb.png">
                </div>
        </div>
    </section>

    <section class="kb-section" id="kb-section">

        <div class="kb-tab-container">
            <button class="kb-tab-links" value="0" tab-open="true" >Articles</button>
            <!-- <button class="kb-tab-links" value="1" >Discussion</button> -->
            <button class="kb-tab-links" value="1" >FAQs</button>
        </div>
        <div class="kb-line"></div>

        <div class="kb-tag-container">
            <div class="kb-tag-header">
                <p>Browse By Topics</p>
            </div>
            <div class="kb-tags">
                
                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>

                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Discussion DOCSS</h5>
                </div>

                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>

                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>


                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>

                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>

                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>


                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>

                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>


                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>

                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>

                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>


                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>

                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>

                <div class="kb-tag-card">
                    <div class="kb-tabCard-icon">
                        <i class="fab fa-angellist"></i>
                    </div>   
                    <h5>Topic 1</h5>
                </div>

            </div>
        </div>


            <!-- Tab content -->
    <div class="tabcontent" id="articles" style="display: block;">
        <div class="kb-card-container bd-grid">
            <div class="kb-card">
                <header class="kb-card-header">
                    <h1>Hello World</h1>
                </header>
                <div class="kb-line"></div>
                
                <div class="kb-card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat suscipit neque unde aut eaque porro numquam tenetur odio possimus debitis voluptatibus nam quibusdam odit deleniti, impedit dicta consectetur ad magnam?</p>
                </div>
                <div class="kb-line"></div>
                <footer class="kb-card-footer">User Author</footer>
            </div>

            <div class="kb-card">
                <header class="kb-card-header">
                    <h1>Hello World</h1>
                </header>
                <div class="kb-line"></div>
                
                <div class="kb-card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat suscipit neque unde aut eaque porro numquam tenetur odio possimus debitis voluptatibus nam quibusdam odit deleniti, impedit dicta consectetur ad magnam?</p>
                </div>
                <div class="kb-line"></div>
                <footer class="kb-card-footer">User Author</footer>
            </div>

            <div class="kb-card">
                <header class="kb-card-header">
                    <h1>Hello World</h1>
                </header>
                <div class="kb-line"></div>
                
                <div class="kb-card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat suscipit neque unde aut eaque porro numquam tenetur odio possimus debitis voluptatibus nam quibusdam odit deleniti, impedit dicta consectetur ad magnam?</p>
                </div>
                <div class="kb-line"></div>
                <footer class="kb-card-footer">User Author</footer>
            </div>


            <div class="kb-card">
                <header class="kb-card-header">
                    <h1>Hello World</h1>
                </header>
                <div class="kb-line"></div>
                
                <div class="kb-card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat suscipit neque unde aut eaque porro numquam tenetur odio possimus debitis voluptatibus nam quibusdam odit deleniti, impedit dicta consectetur ad magnam?</p>
                </div>
                <div class="kb-line"></div>
                <footer class="kb-card-footer">User Author</footer>
            </div>

            <div class="kb-card">
                <header class="kb-card-header">
                    <h1>Hello World</h1>
                </header>
                <div class="kb-line"></div>
                
                <div class="kb-card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat suscipit neque unde aut eaque porro numquam tenetur odio possimus debitis voluptatibus nam quibusdam odit deleniti, impedit dicta consectetur ad magnam?</p>
                </div>
                <div class="kb-line"></div>
                <footer class="kb-card-footer">User Author</footer>
            </div>

            <div class="kb-card">
                <header class="kb-card-header">
                    <h1>Hello World</h1>
                </header>
                <div class="kb-line"></div>
                
                <div class="kb-card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat suscipit neque unde aut eaque porro numquam tenetur odio possimus debitis voluptatibus nam quibusdam odit deleniti, impedit dicta consectetur ad magnam?</p>
                </div>
                <div class="kb-line"></div>
                <footer class="kb-card-footer">User Author</footer>
            </div>

            <div class="kb-card">
                <header class="kb-card-header">
                    <h1>Hello World</h1>
                </header>
                <div class="kb-line"></div>
                
                <div class="kb-card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat suscipit neque unde aut eaque porro numquam tenetur odio possimus debitis voluptatibus nam quibusdam odit deleniti, impedit dicta consectetur ad magnam?</p>
                </div>
                <div class="kb-line"></div>
                <footer class="kb-card-footer">User Author</footer>
            </div>

            <div class="kb-card">
                <header class="kb-card-header">
                    <h1>Hello World</h1>
                </header>
                <div class="kb-line"></div>
                
                <div class="kb-card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat suscipit neque unde aut eaque porro numquam tenetur odio possimus debitis voluptatibus nam quibusdam odit deleniti, impedit dicta consectetur ad magnam?</p>
                </div>
                <div class="kb-line"></div>
                <footer class="kb-card-footer">User Author</footer>
            </div>

        </div>

        <div class="kb-line"></div>
    </div>



    <div class="tabcontent" id="faq" style="display: none;">
        <h1>Hewlo this is FQAS</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum officiis, magni asperiores quis velit accusamus nostrum totam molestiae nisi exercitationem natus assumenda, eaque facilis voluptates aliquid iste animi expedita atque?</p>
        <button>IdontKNOW</button>
    </div>


    </section>

    
</body>
<script src="/js/kb.js"></script>
</html>