<nav class="nav" id="nav">
    <div class="nav__logo">
        FlexBuild.io
    </div>
    <label class="menu-btn">  
        <i class="fas fa-bars"></i>
    </label>
    <ul id="options_list">
        <li><a href="#">Platform</a></li>
        <li><a href="#">Marketplace</a></li>
        <li><a href="#">Community</a></li>
        <li><a class="active" href="#">Knowledge Hub</a></li>
    </ul>
</nav>